{% extends '::base.html.twig' %}
{% import "::macro.html.twig" as macro %}


{% block title %}
    {{ parent() }} | Projects
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/highcharts.css') }}"/>
{% endblock %}

{% block headerContent %}
    <h1>
        Projects
        <small>Analyze {{ project.name }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('packy_project_overview') }}"><i class="fa fa-tasks"></i> Projects</a></li>
        <li> Analyze {{ project.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% for name, deps in vendors %}
                        <li {{ loop.index0 == 0 ? "class='active'" : "" }}><a href="#{{ name }}" data-toggle="tab">{{ name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">

                    {% for name, deps in vendors %}
                        <div class="tab-pane {{ loop.index0 == 0 ? "active" : "" }}" id="{{ name }}">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-xs-6">Package</th>
                                    <th class="col-xs-3">Current version</th>
                                    <th class="col-xs-3">Available version</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dependency in deps  %}
                                    <tr>
                                        <td>{{ dependency.package.name }}</td>
                                        <td>{{ macro.statusLabel(dependency.rawVersion, dependency.status) }}</td>
                                        <td>{{ dependency.package.latestVersion }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="box box-solid box-purple">
                <div class="box-header">
                    <div class="pull-right box-tools">

                    </div>
                    <h3 class="box-title">
                        Status overview
                    </h3>
                </div>
                <div class="box-body">
                    <div id="column-chart">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/highcharts.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            Highcharts.chart('column-chart', {
                chart: {
                    backgroundColor: 'rgba(0,0,0,0)',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'column'
                },
                xAxis: {
                    categories: [
                        {% for name, deps in vendors %}
                            '{{ name }}',
                        {% endfor %}
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: null
                    }
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'percent',
                    }
                },
                colors: [
                    '#dd4b39',
                    '#f0ad4e',
                    '#00a65a'
                ],
                series: [{
                    name: 'Outdated',
                    data: [
                        {% for amount in stats['outdated'] %}
                            {{ amount }},
                        {% endfor %}
                    ]
                }, {
                    name: 'Unstable',
                    data: [
                        {% for amount in stats['unstable'] %}
                            {{ amount }},
                        {% endfor %}
                    ]
                }, {
                    name: 'Stable',
                    data: [
                        {% for amount in stats['stable'] %}
                            {{ amount }},
                        {% endfor %}
                    ]
                }]
            });
        });
    </script>
{% endblock %}
