{% extends '::base.html.twig' %}
{% import "::macro.html.twig" as macro %}


{% block title %}
    {{ parent() }} | Projects
{% endblock %}

{% block headerContent %}
    <h1>
        Projects
        <small>Analyze {{ project.name }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('packy_project_overview') }}"><i class="fa fa-tasks"></i> Projects</a></li>
        <li> Analyze {{ project.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#composer" data-toggle="tab">Composer</a></li>
                    <li><a href="#npm" data-toggle="tab">NPM</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="composer">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Package</th>
                                <th>Current version</th>
                                <th>Available version</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if composer is empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No dependencies found!</td>
                                </tr>
                            {% endif %}
                            {% for dependency in composer  %}
                                <tr>
                                    <td>{{ dependency.package.name }}</td>
                                    <td>{{ macro.statusLabel(dependency.rawVersion, dependency.status) }}</td>
                                    <td>{{ dependency.package.latestVersion }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="npm">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Package</th>
                                <th>Current version</th>
                                <th>Available version</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if npm is empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No dependencies found!</td>
                                </tr>
                            {% endif %}
                            {% for dependency in npm %}
                                <tr>
                                    <td>{{ dependency.package.name }}</td>
                                    <td>{{ macro.statusLabel(dependency.rawVersion, dependency.status) }}</td>
                                    <td>{{ dependency.package.latestVersion }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="box box-solid box-danger">
                <div class="box-header">
                    <div class="pull-right box-tools">

                    </div>
                    <h3 class="box-title">
                        Status overview
                    </h3>
                </div>
                <div class="box-body">
                    <div class="column-chart">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('.column-chart').highcharts({
                chart: {
                    backgroundColor: 'rgba(0,0,0,0)',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'column'
                },
                xAxis: {
                    categories: ['Composer', 'NPM']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: null
                    }
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'percent'
                    }
                },
                colors: [
                    '#dd4b39',
                    '#f0ad4e',
                    '#00a65a'
                ],
                series: [{
                    name: 'Outdated',
                    data: [5, 3]
                }, {
                    name: 'Unstable',
                    data: [2, 2]
                }, {
                    name: 'Stable',
                    data: [3, 4]
                }]
            });
        });
    </script>
{% endblock %}
