<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Packy{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
    {% endblock %}


    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
</head>

<body class="login-page">
    {% block content %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/manifest.js') }}" type="text/javascript"></script>
        <script src="{{ asset('build/vendor.js') }}" type="text/javascript"></script>
        <script src="{{ asset('build/app.js') }}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>
