{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Settings
{% endblock %}

{% block headerContent %}
    <h1>
        Settings
        <small>Gitlab</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('packy_project_overview') }}"><i class="fa fa-cogs"></i> Settings</a></li>
        <li>Gitlab</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                {{ form_start(settingsForm, { 'attr': { 'id': 'main-form'}}) }}
                <div class="box-header">
                    <!-- Potential title -->
                </div>
                <div class="box-body">
                    {{ form_widget(settingsForm) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                {{ form_end(settingsForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
