{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} | Users
{% endblock %}

{% block headerContent %}
    <h1>
        Users
        <small>
            {% if user.id is null %}
                Add user
            {% else %}
                Edit {{ user.name }}
            {% endif %}
        </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('packy_user_overview') }}"><i class="fa fa-users"></i> Users</a></li>
        <li>
            {% if user.id is null %}
                Add user
            {% else %}
                Edit {{ user.name }}
            {% endif %}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-purple">
                {{ form_start(userForm, { 'attr': { 'id': 'main-form'}}) }}
                <div class="box-header">
                    <!-- Potential title -->
                </div>
                <div class="box-body">
                    {{ form_widget(userForm) }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-flat bg-purple">Save</button>
                </div>
                {{ form_end(userForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
