{% extends 'base.html.twig' %}

{% block headerContent %}
    <h1>
        Users
        <small>Overview</small>
    </h1>

    <ol class="breadcrumb">
        <li><i class="fa fa-users"></i> Users</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-purple">
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-xs-6">Name</th>
                            <th class="col-xs-5">Username</th>
                            <th class="col-xs-1">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3" class="text-center"><a href="{{ path('packy_user_add') }}"><i class="fa fa-plus"></i> Add user</a></td>
                            </tr>
                            {% if users is empty %}
                                <tr>
                                    <td colspan="3" class="text-center">No users found!</td>
                                </tr>
                            {% endif %}
                            {% for user in users  %}
                                <tr>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Options <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{{ path('packy_user_edit', { 'userId': user.id }) }}">Edit</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('packy_user_delete', { 'userId': user.id }) }}" class="delete js-delete-item">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
